.faq {
    margin-top: 40px;
    padding: 30px 0px;
    background-color: #f7f8fa;
}


.faq__title h3 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.faq__title h3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background: #ffc107;
    bottom: 0;
    left: calc(50% - 25px);
}

.faq__title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #aab3c7;
}

.faq__body {
    margin: 30px 0px;
}

.accordion__item {
    padding: 10px 0px;
}

.accordion__item .accordion__header .header__icon {
    color: #ffc107;
}

.accordion__header h6 {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 0;
}

.accordion__header h6:hover {
    color: #ffc107;
}

.accordion-button:focus {
    border-color: #fff;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #ffff;
    color: #ffc107;
}